
<script>
//var word_list = <%= @words_array.to_json.html_safe %>

$(function(){
$.ajax({
  url: '/highscores',
  method: 'GET',
  dataType: 'json',

  }).done(function(data){
    int = x 
    x = 0

    while( x < 10 ){
      
      $("#high_score").append("<p>" + data[x].game_score + " " + data[x].user_name + "</p>");
      x++;
    }

  })
})
  
</script>