<!-- <h1>Welcome to the Crossword</h1> -->

<%= render partial: "weaver" %>
<%= render partial: "crossword" %>

<script>
$.ajax({
  url: '/highscores',
  method: 'GET',
  dataType: 'json',

  }).done(function(data){
    int = x 
    x = 0
    while( x < 10 ){
      console.log(data[x].game_score, data[x].user_name);
      x++;
    }

})



</script>


<!-- data[0].game_score -->
<!-- def show
      @words = Word.all
      @words_array = []

      @words.each do |word_obj|
        @photo_urls = []
        word_obj.photos.each do |photo|
          @photo_urls << photo.url
        end
        @words_array << {word: word_obj.name, photos: @photo_urls}
    end
    render json: @words_array
  end
end
 -->
<!-- {
    for(x = 0 : x < 10 : x++ ){
      console.log(data[x].game_score)
    } -->

